---
import Layout from "$layouts/Layout.astro"
import { getCollection } from "astro:content"

import { shows } from "../shows"

export async function getStaticPaths() {
  const songList = await getCollection("songs")
  return shows.map((show) => ({
    params: { show: show.slug },

    props: {
      ...show,
      sets: show.sets.map((songs) =>
        songs.map((song) => {
          const found = songList.find((s) => s.slug === song.song)!
          return {
            ...song,
            title: found.data.title,
            slug: found.slug,
          }
        }),
      ),
    },
  }))
}

const { show } = Astro.params
const { sets } = Astro.props
---

<Layout title={show} compact>
  {show}

  {
    sets.map((set, i) => (
      <>
        <h2>Set {++i}</h2>
        <ol>
          {set.map((song) => (
            <li>
              <a href={`/trigger/shows/${show}/${song.slug}`}>{song.title}</a>
            </li>
          ))}
        </ol>
      </>
    ))
  }
</Layout>
